<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h2>{{message}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <hr />
    Number: {{number}}
    <button ng-click="addOne()">Add One!</button>
    <form>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" ng-model="formName" />
        <button class="btn btn-default" ng-click="addPerson()">Add Person</button>
    </form>
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr />
      <ul>
        <li ng-repeat="person in people">
            <p>{{person}}</p>
        </li>
      </ul>
    </div>
</div>
